$primary: #5265E1;
$secondary: #FA5959;
@import "../node_modules/bootstrap/scss/bootstrap.scss";
$info: $gray-500;

// I tried making the blobs but it was really ugly
// uncomment chunk for hideous consequences
// .blob-r {
// 	border-radius: 0 0 0 200px;
// 	background-color: $primary;
// 	margin-left: 10%;
// 	top: 0;
// 	right: 0;
// 	width: 100%;

// 	position: 30px;
// 	height: 60%;
// 	margin-top: 150px;
// 	z-index: -1;
// }
// .blob-l {
// 	border-radius: 0 0 60px 0;
// 	background-color: $primary;
// 	margin-left: 10%;
// 	// width: 30%;
// 	position: 30px;
// 	// height: 40%;
// 	// margin-top: 85px;
// }

.card-img-top {
	width: 50%;
}

.dotted-line {
    border-top: 7px dotted #d3d3d3;
    width: 100%;
    margin: 0 auto; /* Center */
}
.stepped-card-1 {
	margin-top: 0;
}
.stepped-card-2 {
	margin-top: 25px;
}
.stepped-card-3 {
	margin-top: 45px;
}
.custom-height {
	transform: scaleY(0.91);
}

.custom-button:not(.collapsed)::after {
	border-color: red;
}

@media screen and (max-width: 768px) { /* Mobile equal margin */
	.stepped-card-1, .stepped-card-2, .stepped-card-3 {
		margin-top: 25px;
	}
}